@using Tomagochi.WEB.Models.Forms

<div class="pet-container">
    <div class="pet-form">
        <div class="form-group">
            <h6>Body</h6>
            <div class="image-container">
                @foreach (var item in Model.Bodies)
                {
                    <button class="image-button" id="@item" onclick="OnBodyClick(@item)">
                        <img src="@item" width="80" height="80"/>
                    </button>
                }
            </div>
        </div>
        <div class="form-group">
            <h6>Eyes</h6>
            <div class="image-container">
                @foreach (var item in Model.Eyes)
                {
                    <button class="image-button" id="@item" onclick="OnEyesClick(@item)">
                        <img src="@item" width="80" height="80"/>
                    </button>
                 }
            </div>
        </div>
        <div class="form-group">
                <h6>Nose</h6>
                <div class="image-container">
                    @foreach (var item in Model.Noses)
                    {
                        <button class="image-button" id="@item" onclick="OnNosesClick(@item)">
                            <img src="@item" width="80" height="80"/>
                        </button>
                    }
                </div>
            </div>
        <div class="form-group">
                <h6>Mouth</h6>
                <div class="image-container">
                    @foreach (var item in Model.Mouths)
                    {
                        <button class="image-button" id="@item" onclick="OnMouthsClick(@item)">
                            <img src="@item" width="80" height="80"/>
                        </button>
                    }
                </div>
            </div>
    </div>
    <div class="pet-image">
        <PetDraw @bind-eyes="Model.Eye" ></PetDraw>
    </div>
    
</div>



@code {

    [Parameter]
    public PetFormModel Model { get; set; }

    private void OnBodyClick(string body){
        Model.Body = body;
    }

    private void OnEyesClick(string eyes)
    {
        Model.Eye = eyes;
    }

    private void OnNosesClick(string noses)
    {
        Model.Nose = noses;
    }

    private void OnMouthsClick(string mouths)
    {
        Model.Mouth = mouths;
    }


}
