@using Microsoft.AspNetCore.Components.Web

<div @onchange="@(() => EyesChanged.InvokeAsync(eyes))">
    @if (eyes is not null)
    {
        
    }    
</div>
@*<div>
    <img src="@Nose" width="80" height="80" onchange="@((ChangeEventArgs e) => Nose = e.Value.ToString())"/>
</div>
<div>
    <img src="@Mouth" width="80" height="80" onchange="@((ChangeEventArgs e) => Mouth = e.Value.ToString())"/>
</div>
<div>
    <img src="@Body" width="80" height="80" onchange="@((ChangeEventArgs e) => Body = e.Value.ToString())"/>
</div>*@

@code {
    //[Parameter]
    //public string? Body { get; set; }

    private string? eyes;

    [Parameter]
    public EventCallback<string> EyesChanged { get; set; }

    //[Parameter]
    //public string? Nose { get; set; }

    //[Parameter]
    //public string? Mouth { get; set; }

    //private void EyesChanged(ChangeEventArgs e)
    //{
    //    Eyes = e?.Value?.ToString();
    //}

}
